dehumanizer_database_root:
    "path/to/dh/refs"
kraken2_database_root:
    "path/to/kraken/db"
slack_token:
    ""
slack_channel:
    "#general"
cuda:
    False
medaka_env:
    "library://samstudio8/default/cuda9-cudnn7-ubuntu1604-prom:test"
medaka_device:
    0
