dehumanizer_database_root:
    "path/to/dh/refs"
kraken2_database_root:
    "path/to/kraken/db"
slack_token:
    ""
slack_channel:
    "#general"
cuda:
    False
medaka_env:
    "library://samstudio8/default/cuda9-cudnn7-ubuntu1604-prom:sha256.3aaf99eb6e0e53a667b221bb7209616b1d5a614f0bee7b5e5767ada505c58719"
racon_batches:
     16
polish_threads:
     8
polish_gpu:
     2
assembly_threads:
     8
minimap2_threads:
     8
sort_flags:
     "-m 4G"
