dehumanizer_database_root:
    "path/to/dh/refs"
kraken2_database_root:
    "path/to/kraken/db"
slack_token:
    ""
slack_channel:
    "#general"
cuda:
    False
medaka_env:
    "library://samstudio8/default/cuda9-cudnn7-ubuntu1604-prom:sha256.14a07fc2a8001ddb98e681cf49e72e408b0e343c6f886795382dd0f11ca23417"
racon_batches:
     16
polish_threads:
     8
polish_gpu:
     2
assembly_threads:
     8
minimap2_threads:
     8
sort_flags:
     "-m 4G"
