refname	ref	rank	taxon	ncbi_tid
default	-	life	Prokaryote	0
bacillus_subtilis	-	species	Bacillus subtilis	1423
enterococcus_faecalis	-	species	Enterococcus faecalis	1351
escherichia_coli	-	species	Escherichia coli	562
listeria_monocytogenes	-	species	Listeria monocytogenes	1639
salmonella_enterica	-	species	Salmonella enterica	28901
staphylococcus_aureus	-	species	Staphylococcus aureus	1280
saccharomyces_cerevisiae	-	life	Prokaryote	4932
pseudomonas_aeruginosa	-	species	Pseudomonas aeruginosa	287
